<mat-toolbar
  color = "accent">
<a routerLink='/' routerLinkActive="active">
  <img src="https://locatelcolombia.vteximg.com.br/arquivos/logo.png" style="width:140px;height:62px;border:0;">
</a>
  
<span *ngIf="userIsAuthenticated">
  <a style="color:#145A32" routerLink='/franquicias' routerLinkActive="active">
      <mat-icon aria-label="franquiciadosButton">assessment</mat-icon> Franquicias
  </a>
</span>
<span *ngIf="userIsAuthenticated">
  <a style="color:#145A32" routerLink='/encuesta' routerLinkActive="active">
      <mat-icon aria-label="encuestaButton">assignment</mat-icon> Encuesta
  </a>
</span>

<div *ngIf="!userIsAuthenticated">
  <a style="color:#145a32" mat-button routerLink="/login" routerLinkActive="mat-accent"><h5>Acceder</h5></a>
</div>

<span *ngIf="userIsAuthenticated">
  <a style="color:#145A32" routerLink='/auditoria' routerLinkActive="active">
      <mat-icon aria-label="auditoriaButton">supervisor_account</mat-icon> Auditoria
  </a>
</span>

<span *ngIf="userIsAuthenticated">
  <a style="color:#145A32" mat-button (click)="onLogout()">
      <mat-icon aria-label="logoutButton">exit_to_app</mat-icon> Cerrar Sesión
  </a>
</span>

</mat-toolbar>
