<mat-toolbar
color = "primary">
<span>
  <a color="white" routerLink='/' routerLinkActive="active">
      <mat-icon aria-label="homeButton">home</mat-icon>
  </a>
</span>
<span>
  <a color="white" routerLink='/franquicias' routerLinkActive="active">
      <mat-icon aria-label="franquiciadosButton">assessment</mat-icon>
  </a>
</span>
<span>
  <a color="white" routerLink='/encuesta' routerLinkActive="active">
      <mat-icon aria-label="encuestaButton">assignment</mat-icon>
  </a>
</span>

</mat-toolbar>
