<mat-card multi = true >
<strong>Nombre:</strong>{{empleadoZona.nombre}}<br>
<strong>Identificador:</strong>{{empleadoZona.id}}<br>
<strong>Cargo:</strong>{{empleadoZona.cargo}}<br>
<strong>Zona:</strong>{{empleadoZona.zona}}<br>

<mat-card>
<h4>
  Cursos empezados:
</h4>
<h6 multi = true *ngFor="let cursos of empleadoZona.cursos_empezados">
* {{cursos}}
</h6>
</mat-card>
<mat-card >
<h4>
  Cursos completados:
</h4>
<h6 multi = true *ngFor="let cursos of empleadoZona.cursos_completados">
* {{cursos}}
</h6>
</mat-card>
<mat-card >
<h4>
  Cursos pendientes:
</h4>
<h6 multi = true *ngFor="let cursos of empleadoZona.cursos_pendientes">
* {{cursos}}
</h6>
</mat-card>
</mat-card>
