<h2>Empleados de la tienda</h2>
<mat-card multi= true *ngFor="let empleados of listaEmpleadosZona">
<h4>
  {{empleados.nombre}}
</h4>
<h5>
  {{empleados.id}}
</h5>
<h5>
  {{empleados.cargo}}
</h5>
<h6>
  Cursos empezados: {{empleados.empezados}}
</h6>
<h6>
  Cursos completados: {{empleados.completados}}
</h6>
<h6>
  Cursos pendientes: {{empleados.pendientes}}
</h6>
<button mat-raised-button color="primary" (click)="sendEmpleado(empleados.id)">
Get More Info
</button>
</mat-card>
<h2>Informacion sobre encuestas</h2>
<mat-card>
<h4>
  Prom. pregunta 1: {{infoEncuestas.c0}}
</h4>
<h4>
  Prom. pregunta 2: {{infoEncuestas.c1}}
</h4>
<h4>
  Prom. pregunta 3: {{infoEncuestas.c2}}
</h4>
</mat-card>
<h2>
    Clientes que han participado en la encuesta:
  </h2>
<mat-card>
<h4 *ngFor="let clientes of infoEncuestas.clientes">
{{clientes}}
</h4>
</mat-card>
<h2>
    Observaciones hechas a la tienda:
  </h2>
<mat-card>
<h4 *ngFor="let obs of infoEncuestas.observaciones">
{{obs}}
</h4>
</mat-card>
