<h2>Informe de Capacitación de los Empleados</h2>
<mat-card multi= true *ngFor="let empleados of listaEmpleadosZona">
<h4>
  {{empleados.nombre}}
</h4>
<h5>
  {{empleados.id}}
</h5>
<h5>
  {{empleados.cargo}}
</h5>
<h6>  <img src="https://image.flaticon.com/icons/svg/1152/1152837.svg" style="height:30px;width:30px">
  {{empleados.empezados}}
</h6>
<h6> <img src="https://img.icons8.com/color/420/task-completed.png" style="height:30px;width:30px">
  {{empleados.completados}}
</h6>
<h6>  <img src="https://sitejerk.com/images/sand-clock-png-15.png" style="height:30px;width:30px">
  {{empleados.pendientes}}
</h6>
<button mat-raised-button color="primary" (click)="sendEmpleado(empleados.id)">
More Info
</button>
</mat-card>
<h2>Nivel de satisfacción de los Clientes</h2>
<mat-card>
<h6>
  Tiempo de espera para ser atendido: <strong style="color:green">{{infoEncuestas.c0 | number : '.2-2'}}</strong>
</h6>
<h6>
  Tiempo de calidad en la Atención: <strong style="color:green">{{infoEncuestas.c1 | number : '.2-2'}}</strong>
</h6>
<h6>
  Actitud del personal: <strong style="color:green">{{infoEncuestas.c2 | number : '.2-2'}}</strong>
</h6>
</mat-card>
<h3> Clientes que han participado en la encuesta: </h3>
<mat-card>
<h6 *ngFor="let clientes of infoEncuestas.clientes">
{{clientes}}
</h6>
</mat-card>
<h4>
    Observaciones hechas a la tienda:
</h4>
<mat-card>
<h6 *ngFor="let obs of infoEncuestas.observaciones">
 {{obs}}
</h6>
</mat-card>
<h5> Auditorías </h5>
<mat-card *ngFor="let fecha of fechasAuditorias">
<h6>{{fecha}}</h6>
<h6>{{fechasAuditorias}}</h6>
</mat-card>
